<button class="btn btn-primary" onclick="requestMatch()">New Match</button>
<button class="btn btn-primary" name="Refresh" onclick="refreshMatch()">Refresh</button>
<input class="form-control" type="text" name="IdDisplay"/>

<div class="boardContainer">
	<div class="chessBoard" name="Board">
		<div class="tableRow" data-row="0">
			<div class="WSquare" data-column="0"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="1"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="2"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="3"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="4"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="5"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="6"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="7"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
		</div>
		<div class="tableRow" data-row="1">
			<div class="BSquare" data-column="0"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="1"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="2"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="3"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="4"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="5"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="6"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="7"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
		</div>
		<div class="tableRow" data-row="2">
			<div class="WSquare" data-column="0"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="1"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="2"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="3"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="4"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="5"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="6"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="7"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
		</div>
		<div class="tableRow" data-row="3">
			<div class="BSquare" data-column="0"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="1"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="2"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="3"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="4"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="5"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="6"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="7"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
		</div>
		<div class="tableRow" data-row="4">
			<div class="WSquare" data-column="0"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="1"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="2"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="3"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="4"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="5"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="6"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="7"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
		</div>
		<div class="tableRow" data-row="5">
			<div class="BSquare" data-column="0"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="1"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="2"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="3"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="4"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="5"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="6"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="7"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
		</div>
		<div class="tableRow" data-row="6">
			<div class="WSquare" data-column="0"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="1"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="2"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="3"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="4"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="5"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="6"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="7"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
		</div>
		<div class="tableRow" data-row="7">
			<div class="BSquare" data-column="0"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="1"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="2"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="3"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="4"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="5"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="BSquare" data-column="6"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
			<div class="WSquare" data-column="7"><div onclick="squareClicked(this)" class="piece" id=""></div></div>
		</div>
	</div>
</div>