@page
@model Chess.Pages.Shared.HomeModel
@{

}

<div class="board-container">

		<div class="square white"></div>
		<div class="square black"></div>
		<div class="square white"></div>
		<div class="square black"></div>
		<div class="square white"></div>
		<div class="square black"></div>
		<div class="square white"></div>
		<div class="square black"></div>

	
		<div class="square black"></div>
		<div class="square white"></div>
		<div class="square black"></div>
		<div class="square white"></div>
		<div class="square black"></div>
		<div class="square white"></div>
		<div class="square black"></div>
		<div class="square white"></div>

		
		<div class="square white"></div>
		<div class="square black"></div>
		<div class="square white"></div>
		<div class="square black"></div>
		<div class="square white"></div>
		<div class="square black"></div>
		<div class="square white"></div>
		<div class="square black"></div>

	
		<div class="square black"></div>
		<div class="square white"></div>
		<div class="square black"></div>
		<div class="square white"></div>
		<div class="square black"></div>
		<div class="square white"></div>
		<div class="square black"></div>
		<div class="square white"></div>

		<div class="square white"></div>
		<div class="square black"></div>
		<div class="square white"></div>
		<div class="square black"></div>
		<div class="square white"></div>
		<div class="square black"></div>
		<div class="square white"></div>
		<div class="square black"></div>

		
		<div class="square black"></div>
		<div class="square white"></div>
		<div class="square black"></div>
		<div class="square white"></div>
		<div class="square black"></div>
		<div class="square white"></div>
		<div class="square black"></div>
		<div class="square white"></div>


		<div class="square white"></div>
		<div class="square black"></div>
		<div class="square white"></div>
		<div class="square black"></div>
		<div class="square white"></div>
		<div class="square black"></div>
		<div class="square white"></div>
		<div class="square black"></div>

		
		<div class="square black"></div>
		<div class="square white"></div>
		<div class="square black"></div>
		<div class="square white"></div>
		<div class="square black"></div>
		<div class="square white"></div>
		<div class="square black"></div>
		<div class="square white"></div>
	
</div>
<head>
	<title>Chess Board</title>
	<style>
		.board-container {
			display: flex;
			flex-wrap: wrap;
			width: 600px;
			height: 600px;
			margin: 0 auto;
			font-size: 45px;
			text-align: center;
		}

		.square {
			width: 75px;
			height: 75px;
		}

		.white {
			background-color: antiquewhite;
		}

		.black {
			background-color: pink;
		}
		/* Set the position of the chess pieces */
		

		.white1 {
			color: black;
			font-size: 55px
		}

		.black1 {
			color: black;
			font-size: 55px
		}
		.black2 {
			font-size: 40px;
			color: black;
			
		}
	</style>
</head>


